<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<br>
	<h2>Une erreur est survenue ...</h2>

	<br><br><br>
	<h3><%- data.message %></h3>
	<h4><%- data.err %></h4>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
