<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section>
        <%- include('components/form-register') -%>
        
        <a href="/login">Déjà inscrit ?</a>
    </section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
